/* google fonts :  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap");

/* variables :  */
:root {
  --primary-color: #1b4332;
  --secondary-color: #d8f3dc;
  --tertiary-color: #74c69d;
  --quaternary-color: #2d6a4f;
}

/* Basic Reset:: */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  /* user-select: none; */
  font-family: "Poppins", sans-serif;
  /* background-color: rgba(255, 0, 0, 0.137); */
}

html {
  /* color-scheme: dark light; */
  scroll-behavior: smooth;
  scroll-padding-top: 10em;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--quaternary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}

button,
input[type="submit"] {
  display: inline-block;
  outline: transparent;
  stroke: transparent;
  border: transparent;
  cursor: pointer;
  background: #52b788;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 14px 18px;
  color: #fff;
  max-width: 15rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
  color: #000;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.35);
  resize: unset;
  width: 100%;
}

a {
  color: var(--tertiary-color);
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible {
  border: none;
  outline: none;
}

label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-transform: capitalize;
  color: #000000;
  display: block;
  cursor: pointer;
}

section {
  padding: 3em 1em;
}

.logo-svg {
  width: 7rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  /* text-transform: capitalize; */
  color: #ffffff;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: #565656;
  max-width: 60rem;
  margin-inline: auto;
}
h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  text-transform: capitalize;
  color: #000000;
}
h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 50px;
  text-transform: capitalize;
  color: #000000;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-transform: capitalize;
  color: #000000;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

strong {
  font-weight: 600;
  color: #565656;
}

.container {
  /* width: min(1800px, 100%); */
  width: min(1440px, 100%);
  margin-inline: auto;
}

/* hearder::  */
header {
  position: fixed;
  width: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.titlr-bar {
  background-color: var(--tertiary-color);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.titlr-bar .title-contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.7em 1em;
}

.titlr-bar .title-contacts .contact {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.active {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  color: #ffffff;
}
nav {
  background-color: var(--quaternary-color);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 0.7em 1em;
}

#navigations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}
nav li {
  color: #fff;
  text-transform: uppercase;
}

/* mobile nav :: */

.mobile-nav {
  display: none;
}

#burger-menu,
#menu-cross {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 950px) {
  #burger-menu,
  .mobile-nav {
    display: block;
    position: relative;
    z-index: 99999;
  }

  #navigations {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -150vh;
    left: 50%;
    transform: translate(-50%);
    width: 97%;
    max-width: 23rem;
    padding: 3em 2em;
    border-radius: 10px;
    background-color: var(--quaternary-color);
    transition: box-shadow 0.5s ease;
  }
}
/* mobile nav end */

.hero-section {
  padding-top: 10em;
  min-height: 30rem;
}

.section-heading-2 {
  margin-bottom: 2.5em;
}

footer {
  background-color: var(--primary-color);
  min-height: 20rem;
  padding: 3em 1em;
}
footer * {
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 4em;
  flex-wrap: wrap;
}
.footer-container .footer-sec {
  min-width: 12rem;
  max-width: 14rem;
}

.footer-sec:nth-child(1) {
  transform: translateY(35px);
}

.footer-heading {
  margin-bottom: 2em;
}

.footer-link li {
  margin-bottom: 1em;
}

.social-media-links {
  display: flex;
  gap: 1em;
  align-items: center;
}
.social-media-links i {
  cursor: pointer;
}

.copy-right {
  margin-top: 1em;
  border-top: 1px solid gray;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}
