.terms-hero-section {
    background: url("../img/terms-conditions-page-img/Terms\ &\ Condition-header\ img.png")
      no-repeat center center/cover;
  
    margin-bottom: 2em;
  }
  
  .hero-container {
    text-align: center;
    margin-top: 5em;
  }
  
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    text-transform: capitalize;
    color: #565656;
    text-align: left;
    margin-inline: unset;
  }
  